  /* Ascenseur */
  
  ::-webkit-scrollbar {height:12px; width:5px; background:none; margin-right:5px;}
::-webkit-scrollbar-thumb {background:#A3171A; height:30px; border-radius:30px;}
::-webkit-scrollbar-corner {background:none;}
.cate-descr span, .redpres *{     scrollbar-color: #A3171A #fff;
  scrollbar-width: thin; }


/***** FICHE DE LISTE RP PAR KOALAVOLANT ********/ 

.redlistrp{ width:100% margin:0 auto; }
.redlistrp *{ box-sizing:border-box; } 

.redlistimg{ width:96%; height:180px; object-fit:cover; }
.redlistrp h1{ font-family:'Kaushan Script', cursive; font-size:20px; color:#fff; 
  text-align:center; padding:14px; margin:0px; background:url('https://i.servimg.com/u/f30/19/45/51/53/fondbi10.jpg'); background-position:center; background-size:cover; clip-path: polygon(0% 0%, 96% 0%, 100% 50%, 96% 100%, 0% 100%); 
  display:flex; flex-wrap:wrap; position:relative; z-index:99; font-family:'Kaushan Script', cursive; font-size:22px; line-height:24px; padding:10px; } 
.redlistrp h1:after{ position: absolute; content: ''; z-index:7;display: block; top: 0; left: 0; height: 100%; width: 100%;  background: #A3171A;  
  mix-blend-mode: hard-light; }
.redlistrp h1 strong{ font-weight:normal; text-align:center; position:relative; z-index:99; }

.listred{ width:96%; display:flex; justify-content:space-between; } 
.listred span{ width:80%; display:block; padding:25px; font-family:'Lato', sans-serif; font-size:13px; line-height:17px; background-color:#dedede; } 
.listred span a{ color:#A3171A; font-weight:bold; letter-spacing:2px; text-decoration:none; } 
.listred div{ width:20%; background:url('https://i.servimg.com/u/f30/19/45/51/53/fondbi10.jpg'); background-position:center; background-size:cover;clip-path: polygon(0% 0%, 100% 0%, 100% 86%, 50% 100%, 0% 86%); 
  position:relative; } 
.listred div:after{ position: absolute; content: ''; z-index:7;display: block; top: 0; left: 0; height: 100%; width: 100%;  background: #444;  
  mix-blend-mode: hard-light;}
.listred h2, .listreverse h2{ position:relative; z-index:99; color:#fff; font-family:'Anton', sans-serif; font-size:15px; text-align:center; font-weight:normal; padding:30px 5px;
margin:0px;}
.listreverse{ flex-direction:row-reverse; margin:10px 0px;}
  
/***** FICHE DE PRESENTATION PAR KOALAVOLANT *************/ 

.redpres{ width:100%; margin:0 auto; }
.redpres *{ box-sizing:border-box; } 

.redbloc{     width: 100%;    padding: 10px;    background-color: #f0f0f0; color:#444; }
.redbloc span{ overflow:auto; display:block; padding:6px; }
.redbloc h2{ margin: 5px auto;    width: 90%;    background-color: #dedede;    padding: 5px;    font-family: 'Anton', sans-serif;
  font-weight: normal;    letter-spacing: 1px;    font-size: 15px;    text-transform: uppercase;    color: #444; }

.redcara span, .redinfo span{ height: 180px; }

.redinfo{ background-color:#dedede; }
.redinfo h2{ background-color:#f0f0f0; }

.redflex2{ display:flex; justify-content:space-between; }
.redhis{ width:70%; }
.redhis span{ height:380px; }
.redhimg{ width:30%; }
.redhimg img{ width:100%; height:330px; object-fit:cover; border:1px solid #000000; }

/* ScÃ©narios */ 

.redscenario .redhis{ background-color:#dedede; } 
.redscenario .redhis span{ height:114px; }
.redscenario .redhis h2{ background-color:#f0f0f0; }
.redscenario .redhis h2 strong{ font-weight:normal; color:#A3171A; }

.redscenario .redhimg img{ height:170px; } 
.redscenario .redflex2.redverse{ flex-direction:row-reverse; }
.normal{}
.redscenario .redflex2.normal .redhis{ margin-right:5px; }
.redscenario .redflex2.redverse .redhis{ margin-left:5px; }

/* fiche de liens */

.redscenario .redliens strong{ font-weight:normal; color:#A3171A; font-family:'Anton', sans-serif; }



